#main-canvas, #layer-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 2400px;
  height: 720px;
}

#layer-canvas {
  z-index: -10;
}

img {
  display: none;
}